{% extends "chatbot/base.html" %}

{% block title %}ChatBot{% endblock %}

{% block content %}

<div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
        <h5>Conversations</h5>
        <div id="sidebar">
            {% include "chatbot/chat_partial.html" %}
        </div>
    </div>

    <!-- Chat area -->
    <div class="col-md-9">
        {% if current_conversation %}
            <h3>{{ current_conversation.title }}!</h3>
        {% else %}
            <h3>New Conversation</h3>
        {% endif %}
        
        <ul class="list-group">
            {% for msg in messages %}
                <li class="list-group-item {% if msg.role == 'assistant' %}list-group-item-secondary{% else %}list-group-item-light{% endif %}">
                    <strong>{{ msg.role|capfirst }}:</strong> {{ msg.content }}
                </li>
            {% endfor %}
        </ul>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="user_question" class="form-control" placeholder="Type your message here">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}